{% extends 'base.html' %}
{% block body %}
  <div id = 'page_title'>
    <h2>Change Username and Password</h2>
  </div>
  <p>
    Change your Username and Password.
  </p>
  <form method = 'POST'>
    <p>New Username: <input type = 'text' name = 'username' required></p>
    <p>New Password: <input type = 'password' name = 'password' required></p>
    <p>Retype New Password: <input type = 'password' name = 'retyped_password' required></p>
    <input type = 'submit' value = 'Change Username and Password'>
  </form>
  <p class = 'error'>{{ error_description }}</p>
{% endblock %}
