<!doctype html>
<html>
  <head>
    <title>Boards - {{ title }}</title>
    <link rel = 'stylesheet' href = '{{ url_for("static", filename = "css/base_style.css") }}'>
  </head>
  <body>
    <div id = 'container'>
      <nav>
        <ul>
          <li><a href = '{{ url_for("main_app.home")}}'>Home</a></li>
          {% if user %}
            <li><a href = '{{ url_for("main_app.my_account") }}'>My Account</a></li>
            <li><a href = '{{ url_for("user_managment.logout") }}'>Logout</a></li>
          {% else %}
            <li><a href = '{{ url_for("user_managment.login") }}'>Log In</a></li>
            <li><a href = '{{ url_for("user_managment.signup") }}'>Sign Up</a></li>
          {% endif %}
          <li><a href = '{{ url_for("main_app.contact") }}'>Contact</a></li>
        <ul>
      </nav>
      <div id = 'content_container'>
        {% block body %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
